<h2>Hola Mensaje desde : {{ mensaje }}</h2>
<button mat-raised-button (click)="enviar()">Enviar</button>
<router-outlet></router-outlet>

<!--<h1>One Way Binding</h1>
<button mat-raised-button color="primary">Primary</button>
<mat-form-field>
  <input matInput placeholder="Nombre" (keyup.enter)="recepcionarValor($event)">
</mat-form-field>
<h2>Hola, {{nombre}} </h2>

<h2>Two Way Binding</h2>
<mat-form-field>
  <input matInput placeholder="Apodo" [(ngModel)]="apodo">
</mat-form-field>
<h2>Hola, {{apodo}} </h2>

<button mat-button (click)="agregar()">Agregar</button>

<ul>
  <li *ngFor="let e of lista">{{e}}</li>
</ul>-->
